@{ 
    ViewBag.Title = "Home Page";
}

            <div>
                <h1>Hello world</h1>
                <p>This will be a page soon !</p>
            </div>
            <div>
                <form>
                    <div>
                        <label>Date</label>
                        <input />
                    </div>
                    <div>
                        <label>Location</label>
                        <input />
                    </div>
                    <div> <input type="submit" name="Add" value="Add" /></div>
                </form>
            </div>
      