@model IEnumerable<TheWorld.Models.Trip>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Welecome to The World</h1>
        <p> This application will allow you to plan for the world trip</p>
        <a asp-controller="Auth" asp-action="Login" class="btn btn-lg btn-success">View my trips !</a>
    </div>
</div>
